<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title> shopping cart </title>
	<link rel="stylesheet" type="text/css" href="../style/app.css">
</head>
<body>

<ul class="tab-ul">
	<li onclick="handleTabClick('Men')">Men</li>
	<li onclick="handleTabClick('Women')">Women</li>
	<li onclick="handleTabClick('Boy')">Boy</li>
	<li onclick="handleTabClick('Girl')">Girl</li>
	
</ul>

<div id="M" class="hide">
	<h3>Men</h3>
	<p>Men style</p>
</div>

<div id="W" class="hide">
	<h3>Women</h3>
	<p>Women beauty</p>
</div>

<div id="B" class="hide">
	<h3>Boy</h3>
	<p> Boy handsome</p>
</div>

<div id="G" class="hide">
	<h3>Girl</h3>
	<p>Girl cute</p>
</div>

<script type="text/javascript" src="../script/cart.js"></script>

</body>
</html>